.TextEditorTheme__ltr {
  text-align: left;
}
.TextEditorTheme__rtl {
  text-align: right;
}
.TextEditorTheme__paragraph {
  line-height: 26px;
  margin-bottom: 22px;
}
.TextEditorTheme__quote {
  line-height: 26px;
  margin-bottom: 22px;
  padding: 20px 18px;
  border-left: 5px solid #c9c9c9;
  background-color: #f5f5f5;
  border-radius: 0 8px 8px 0;
}
.TextEditorTheme__h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 16px;
  margin-top: 36px;
}
.TextEditorTheme__h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 22px;
}
.TextEditorTheme__indent {
  --lexical-indent-base-value: 40px;
}
.TextEditorTheme__textBold {
  font-weight: bold;
}
.TextEditorTheme__textItalic {
  font-style: italic;
}
.TextEditorTheme__textUnderline {
  text-decoration: underline;
}
.TextEditorTheme__textStrikethrough {
  text-decoration: line-through;
}
.TextEditorTheme__textUnderlineStrikethrough {
  text-decoration: underline line-through;
}
.TextEditorTheme__textSubscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}
.TextEditorTheme__textSuperscript {
  font-size: 0.8em;
  vertical-align: super;
}
.TextEditorTheme__textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}
.TextEditorTheme__hashtag {
  background-color: rgba(88, 144, 255, 0.15);
  border-bottom: 1px solid rgba(88, 144, 255, 0.3);
}
.TextEditorTheme__link {
  color: #0a5ddc;
  text-decoration: none;
}
.TextEditorTheme__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.TextEditorTheme__code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 26px;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  position: relative;
  tab-size: 2;
}
.TextEditorTheme__code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.TextEditorTheme__ol1 {
  display: block;
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  list-style-position: outside;
}
.TextEditorTheme__ol2 {
  display: block;
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
}
.TextEditorTheme__ol3 {
  display: block;
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.TextEditorTheme__ol4 {
  display: block;
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
}
.TextEditorTheme__ol5 {
  display: block;
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
}
.TextEditorTheme__ul {
  display: block;
  list-style-type: disc;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  list-style-position: outside;
}
.TextEditorTheme__listItem {
  margin-left: 40px;
  margin-right: 40px;
  line-height: 26px;
  margin-bottom: 12px;
}
.TextEditorTheme__listItemChecked,
.TextEditorTheme__listItemUnchecked {
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}
.TextEditorTheme__listItemChecked {
  text-decoration: line-through;
}
.TextEditorTheme__listItemUnchecked:before,
.TextEditorTheme__listItemChecked:before {
  content: "";
  width: 16px;
  height: 16px;
  top: 6px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}
.TextEditorTheme__listItemUnchecked[dir="rtl"]:before,
.TextEditorTheme__listItemChecked[dir="rtl"]:before {
  left: auto;
  right: 0;
}
.TextEditorTheme__listItemUnchecked:focus:before,
.TextEditorTheme__listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}
.TextEditorTheme__listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}
.TextEditorTheme__listItemChecked:before {
  border: 1px solid #0a5ddc;
  border-radius: 2px;
  background-color: #0a5ddc;
  background-repeat: no-repeat;
}
.TextEditorTheme__listItemChecked:after {
  content: "";
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 9px;
  width: 5px;
  left: 6px;
  right: 7px;
  height: 8px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}
.TextEditorTheme__nestedListItem {
  list-style-type: none;
}
.TextEditorTheme__nestedListItem:before,
.TextEditorTheme__nestedListItem:after {
  display: none;
}
.TextEditorTheme__tokenComment {
  color: slategray;
}
.TextEditorTheme__tokenPunctuation {
  color: #999;
}
.TextEditorTheme__tokenProperty {
  color: #905;
}
.TextEditorTheme__tokenSelector {
  color: #690;
}
.TextEditorTheme__tokenOperator {
  color: #9a6e3a;
}
.TextEditorTheme__tokenAttr {
  color: #07a;
}
.TextEditorTheme__tokenVariable {
  color: #e90;
}
.TextEditorTheme__tokenFunction {
  color: #dd4a68;
}
.TextEditorTheme__mark {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
  padding-bottom: 2px;
}
.TextEditorTheme__markOverlap {
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.TextEditorTheme__mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgba(255, 212, 0, 1);
}
.TextEditorTheme__markOverlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.TextEditorTheme__embedBlock {
  user-select: none;
}
.TextEditorTheme__embedBlockFocus {
  outline: 2px solid rgb(60, 132, 244);
}
.TextEditorTheme__layoutContainer {
  display: grid;
  gap: 10px;
  margin: 10px 0;
}
.TextEditorTheme__layoutItem {
  border: 1px dashed #ddd;
  padding: 8px 16px;
}
.TextEditorTheme__autocomplete {
  color: #ccc;
}
.TextEditorTheme__hr {
  padding: 2px 2px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}
.TextEditorTheme__hr:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}
.TextEditorTheme__hr.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}
